@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>------------</p>
    <p>Random passcode (passcode #@ViewBag.passcodeCount )</p>
    <h3>@ViewBag.passcodeNew</h3>
    <form action="/" method = "post">
        <input type="submit" value = "Generate">
    </form>
    
</div>
